# binary files
*.jl.*.cov
*.jl.cov
*.jl.mem
*.lh5
*.h5
*.json
*.csv

# images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
*.eps
*.tiff

# Julia and system files
/docs/build/
.vscode/
.DS_Store

# SLURM files
*.out
